.content{
  margin-top: 50px;
  margin-left: 50px;
}

.form-control:focus{
  box-shadow: 0 0 0 0.25rem rgba(109, 174, 73, .3) !important;
  border-color: #6dae49;
}

.custom-file-input{
  width: 420px;
  cursor: pointer;
  background-color: white;
  border-radius: 6px;
  transition: all 0.3s ease-in-out;
  border: 2px solid #4a7632;
}

.custom-file-input::after{
  margin-left: 14px;
  content: "Upload";
}

.custom-file-input:hover{
  background-color: rgba(0,0,0,0.1);
}


.custom-file-input::-webkit-file-upload-button {
  cursor: pointer;
  padding: 12px;
  border: none;
  background-color: #6dae49;
  color: white;
  transition: all 0.3s ease-in-out;
}

.custom-file-input::-webkit-file-upload-button:hover {
  background-color: #4a7632;
}

.soft1-btn2{
  width: fit-content;
  border: 2px solid #6dae49;
  background-color: #6dae49;
  border-radius: 16px;
  padding: 12px 24px;
  font-size: 16px;
  color: white;
  transition: all 0.3s ease-in-out;
}

.soft1-btn2:hover{
  background-color: rgba(0,0,0,0);
  color: #6dae49;
}

.progress{
  padding-right: 0px !important;
  padding-left: 0px !important;
}
