<app-navbar></app-navbar>


<div class="container content">
  <div class="row">
    <div
      class="col-xxl-8 col-xl-8 col-lg-8 col-md-8 col-sm-12 col-12"
      style="padding-right: 24px"
    >
      <div class="row" style="align-items: end; height: 50px">
        <h2 translate>Παραγγελειεα</h2>
      </div>
      <div

        class="row"
        style="
          background-color: white;
          border-radius: 16px;
          padding: 24px;
          box-shadow: 0 20px 30px rgba(0, 0, 0, 0.08);
          margin-bottom: 12px;
        "
      >
        <div class="row" >
          <div class="row" >
            <div class="col-6">
              <div
                class="row"
                style="
                  display: flex;
                  justify-content: center;
                  align-items: center;
                "
              >
                <div class="col-4">

                </div>
                <div class="col-6">
                  <div class="row">
                    <p class="productName" >
                     ονομα
                    </p>

                  </div>
                  <div class="row" style="align-items: end">
                    <button

                      style="
                        border: none;
                        background-color: rgba(0, 0, 0, 0);
                        text-align: left;
                      "
                    >
                      <img
                        src="../../assets/trash-alt.svg"
                        alt=""
                        srcset=""
                        style="width: 20px; height: 20px"
                      />
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-6">
              <div class="row" style="align-items: center; height: 100%">
                <div class="col-8">
                  <div class="row" style="justify-content: right">
                    <div class="numberInput">
                      <button
                        id="decrement"

                        #decrement
                      >
                        -
                      </button>
                      <input
                        type="number"
                        min="0"

                        step="1"

                        id="my-input"
                        readonly
                        #input2
                      />
                      <button
                        id="increment"

                        #increment
                      >
                        +
                      </button>
                    </div>
                  </div>
                </div>
                <div class="col-4">
                  <h4 style="margin: 0">
                    0<span style="color: #6dae49">&euro;</span>
                  </h4>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row" >
          <div
            class="row"

            style="margin-bottom: 12px"
          >
            <div class="col-6">
              <div
                class="row"
                style="
                  display: flex;
                  justify-content: center;
                  align-items: center;
                "
              >
                <div class="col-4">

                </div>
                <div class="col-6">
                  <div class="row">

                    <p class="productName">
                      ονομα
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-6">
              <div class="row" style="align-items: center; height: 100%">
                <div class="col-8">
                  <div class="row" style="justify-content: right">
                    <div class="numberInput">
                      <button
                        id="decrement"

                        #decrement
                      >
                        -
                      </button>
                      <input
                        type="number"
                        min="0"

                        step="1"

                        id="my-input"
                        readonly
                        #input2
                      />
                      <button
                        id="increment"

                        #increment
                      >
                        +
                      </button>
                    </div>
                  </div>
                </div>
                <div class="col-4">
                  <h4 style="margin: 0">
                    0<span style="color: #6dae49">&euro;</span>
                  </h4>
                </div>
              </div>
            </div>
          </div>
          <div class="row bin" style="align-items: end">
            <button
                          style="
                border: none;
                background-color: rgba(0, 0, 0, 0);
                text-align: left;
              "
            >
              <img
                src="../../assets/trash-alt.svg"
                alt=""
                srcset=""
                style="width: 20px; height: 20px"
              />
            </button>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12" style="margin-top: 12px; padding: 0">
          <a class="goBackBtn"  translate>
            <img
              style="transform: rotate(180deg)"
              src="../../assets/chevron-right-white.svg"
              width="18px"
              alt=""

            />
            Συνεχιστε τα ψωνια
          </a>
        </div>
      </div>
    </div>
    <div
      class="col-xxl-4 col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12 orderReview"
    >
      <div class="row" style="align-items: end; height: 50px">
        <h5 translate>Συνολικη Αξια</h5>
      </div>
      <div
        class="row"
        style="
          background-color: white;
          border-radius: 16px;
          padding: 50px 12px;
          box-shadow: 0 20px 30px rgba(0, 0, 0, 0.08);
        "
      >
        <div class="row productValue" style="margin-bottom: 4px">
          <div class="col-6">
            <div class="row">
              <p style="margin: 0" translate>Αξια καλαθιου</p>
            </div>
          </div>
          <div class="col-6">
            <div class="row" style="text-align: right">
              <p style="margin: 0">
               0<span style="color: #6dae49">&euro;</span>
              </p>
            </div>
          </div>
        </div>

        <div class="row shippingValue" style="margin-bottom: 4px">
          <div class="col-6">
            <div class="row">
              <p style="margin: 0" translate>Μεταφορικα</p>
            </div>
          </div>
          <div class="col-6">
            <div class="row" style="text-align: right">
              <p style="margin: 0">
                ?<span style="color: #6dae49">&euro;</span>
              </p>
            </div>
          </div>
        </div>

        <div class="row" style="margin-top: 12px">
          <hr style="border: 1px solid #6dae49; opacity: 1" />
        </div>

        <div class="row totalValue" style="font-weight: 600; font-size: 18px">
          <div class="col-6">
            <div class="row">
              <p style="margin: 0" translate>Συνολικο Ποσο</p>
            </div>
          </div>
          <div class="col-6">
            <div class="row" style="text-align: right">
              <p style="margin: 0">
               0<span style="color: #6dae49">&euro;</span>
              </p>
            </div>
          </div>
        </div>
        <div class="row" >
          <a class="cart-btn" >
            Πληρωμη
            <img src="../../assets/credit-card.svg" alt="" />
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container footer">
  <div class="row" style="text-align: center">
    <p style="color: black">
      Web site created by
      <span style="color: #6dae49; font-weight: bold">ISG Informatics</span> ⓒ
      All rights reserved
    </p>
  </div>
</div>



