
.content{
  margin-top: 200px;
}

@media (max-width: 768px){
  .content{
      margin-top: 100px;
  }
}

.productImg{
  width: 80px;
  height: 80px;
}

.footer{
  margin-top: 350px;
}

@media (max-width: 768px){
  .footer{
      margin-top: 220px;
  }
}

.bin{
  padding-left: 60px;
}

@media (max-width: 992px){
  .bin{
      padding-left: 40px;
  }
}

@media (max-width: 470px){
  .bin{
      padding-left: 40px;
  }
}

.productValue p, .shippingValue p, .totalValue p{
  padding: 0;
}

.productName{
  font-size: 12px;
  font-weight: 500;
}

@media (max-width: 475px){
  .productName{
      font-size: 10px;
  }

}

@media (max-width: 768px){
  .orderReview{
      margin-top: 32px;
  }
}
@media (max-width: 475px){
  .productImg{
      width: 40px !important;
      height: 40px !important;
  }
}

@media (max-width: 992px){
  .productImg{
      width: 60px;
      height: 60px;
  }
}

@media(max-width: 1200px){
  .productValue p, .shippingValue p{
      font-size: 12px;
  }

  .totalValue p{
      font-size: 14px;
  }
}

@media(max-width: 992px){
  .productValue p, .shippingValue p{
      font-size: 12px;

  }

  .totalValue p{
      font-size: 14px;
  }
}

.numberInput{

  width: fit-content;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 45px;
}

#my-input{
  border: 1px solid #6dae49;
  width: 35px;
  border-radius: 8px;
}

.goBackBtn{
  color: white;
  text-decoration: none;
  background-color: #6dae49;
  padding: 8px;
  padding-right: 12px;
  border-radius: 8px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.goBackBtn:hover{
  background-color: #4a7832;
}

input[type="number"]{
  -moz-appearance: textfield;
  text-align: center;
  font-size: 18px;
  border: none;
  background-color: #ffffff;
  color: #202030;
}

@media (max-width: 460px){
  input[type="number"]{
      font-size: 14px;
  }
  .numberInput button{
      font-size: 14px !important;
  }
  #increment, #decrement{
      padding: 4px !important;
  }
}

@media (max-width: 396px){
  input[type="number"]{
      font-size: 12px;
  }
  .numberInput{
      padding: 0;
  }
  .numberInput button{
      font-size: 12px !important;
  }
  #increment, #decrement{
      padding: 4px !important;
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button{
  -webkit-appearance: none;
  margin: 0;
}
.numberInput button{
  color: #6dae49;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  font-size: 20px;
  cursor: pointer;
}
#decrement{
  /* padding: 15px 5px 15px 25px; */
  padding: 10px;
  border-radius: 45px 0 0 45px;
  padding-left: 5px;
  padding-right: 10px;
}
#increment{
  /* padding: 15px 25px 15px 5px; */
  padding: 10px;
  border-radius: 0 45px 45px 0;
  padding-right: 5px;
  padding-left: 10px;
}



.left-side{
  width: 67%;
  margin-right: 3%;
  display: inline-block;
}
.first-hr{
  height: 1px;
  display: block;
  border: 0;
  border-top: 4px solid black;
  opacity: 1;
  margin: 1em 0;
  border-radius: 1000px;
  padding: 0;
}

.cart-item
{
width: 10%;
}

.product img{
  margin-top: 7%;
  margin-bottom: 7%;
  display: inline-block;
}

.description{
  position: absolute;
  margin-top: 3%;
  display: inline-block;
  margin-left: 2%;
  width: 43.5%;
}

.myCart{
  display: inline-block;
  text-align: left;
  width: 50%;
}

.productAmount{
  display: inline-block;
  text-align: right;
  width: 50%;
}

.productAmount h3{
  font-weight: 300;
  color: #43484D;
}


.right-side{
  width: 15%;
  margin-top: 60px;
  display: inline-block;
  position: absolute;
}

.continueToCheckout{
  border-color: rgba(0, 0, 0, 0.5);
  border-radius: 16px;
  text-align: center;
  border: 1px solid;
  height: 350px;
  padding: 10%;
}





.descLeft{
  display: inline-block;
}

.descRight{
position: absolute;
margin-left: 40px;
display: inline-block;
}

.descRight h3{
  margin-top: 10%;
}

.circle{
  border: 1px solid;
  width: 13%;
  height: 30px;
  border-radius: 16px;
  text-align: center;
  display: inline-block;
}

.coupon h5{
  display: inline-block;
  margin-left: 10px;
}

.coupon{
  margin-top: 20%;
  margin-bottom: 15%;
}

.right-side hr{
  height: 1px;
  display: block;
  border: 0;
  border-top: 2px solid black;
  opacity: 1;
  border-radius: 1000px;
  padding: 0;
  margin-bottom: 10%;
}

.cart-btn {
  text-align: center;
  display: inline-block;
  background-color: #6dae49;
  border-radius: 6px;
  border: none;
  margin-top: 5%;
  font-size: 16px;
  color: #FFFFFF;
  text-decoration: none;
  padding: 12px 0px;
  cursor: pointer;
  transition: all .3s;
}

@media (max-width: 992px){
  .cart-btn {
      font-size: 12px;
  }
  .cart-btn img{
      width: 16px !important;
  }
}

.cart-btn:hover {
  background-color: #4a7832;
  box-shadow: rgba(100, 100, 111, 0.4) 0px 7px 29px 0px;
}
.disabled{
  display: inline-block;
  background-color: #5c6a78;
  border-radius: 6px;
  border: none;
  margin-top: 5%;
  font-size: 16px;
  color: #a3a3a3;
  text-decoration: none;
  padding: 12px 30px;
  cursor: pointer;
  transition: all .5s;
}
.disabled:hover {
  background-color: #1c2732;
  box-shadow: rgba(100, 100, 111, 0.4) 0px 7px 29px 0px;
  transform: scale(1.1);
}

.paymentMethod{
  width: 400px;
  margin-top: 30px;
  padding: 2%;
}

.cards img{
  margin-top: 5%;
  margin-right: 5%;
}

.continueShopping{
  cursor: pointer;
  margin-bottom: 8%;
}

.continueShopping div{
  display: inline-block;

}

.continueShopping h5{
  display: inline-block;
  margin-left: 1%;
  position: absolute;
  margin-top: 2px;
  color: #d8d8d8;
  font-weight: lighter;
  transition: 0.4s all ease-in;
}
