

<div class="container content" style="margin-bottom: 44px;">
  <div class="row" style="justify-content: center;align-items: center;">
    <h1 style="width: fit-content;">Επεξεργασία Προϊόντων</h1>
  </div>
  <div class="row" style="justify-content: center;align-items: center;">
    <hr style="opacity: 1;border: 2px solid #6dae49;width: 50%;">
  </div>
  <div class="row" style="justify-content: center;align-items: center;">
    <p>Σε αυτή την σελιδά διεξάγονται όλες οι χρήσιμες λειτουργείες για κάθες προϊόν. Βλέποντας απο την αρχή της σελιδάς υπάρχει ένα κουμπί με όνομα 'Update Products'. Με αυτό το κουμπί αναναιώνονται τα προϊόντα με όλες τις αλλαγές που έχουν γίνει στο Soft1. Στη συνέχεια υπάρχει ένας πίνακας με όλα τα ενεργά προϊόντα που υπάρχουν στην ιστοσελίδα.
      <br><br>
      Σε αυτόν τον πίνακα μπορούν να επεξεργαστούν πεδία οπως: <br>
      1)Αρχική φωτογραφία προϊόνοτς <br>
      2)Προσθήκη Προσφοράς <br>
      3)Αλλαγη Προσφοράς <br>
      4)Αφαίρεση Προσφοράς <br>
      5)Επιλογή της προσφοράς που εμφανίζεται στην αρχική σελίδα</p>
  </div>
  <div class="row" style="background-color: white;border-radius: 16px;margin-top: 0px;box-shadow: 0 20px 30px rgba(0,0,0,0.08);">
    <div class="container" style="background-color: #6dae49;border-top-left-radius: 16px;border-top-right-radius: 16px;padding: 24px;box-shadow: 0 20px 30px rgba(0,0,0,0.08);">
      <div class="row">
        <div class="col-6" style="display: flex;align-items: center;">
          <h3 style="margin: 0px;color: white;">Βρέθηκαν {{products.length}} Προϊόντα</h3>
        </div>
        <div class="col-6">
          <div class="container">
            <div class="row" style="justify-content: right;text-align: right;">

            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row" style="padding: 12px;margin-left: 0px">

      <form #form2 >
          <div class="search-container">
            <input type="text" name="search" placeholder="Search..." class="search-input">
            <a  class="search-btn">
              <img class="search-glass" src="../../../../assets/bx_search-alt.svg" width="20px" height="20px" alt="" srcset="">
            </a>
          </div>
          <button
          type="submit"
          style="display: none"

        ></button>
      </form>
    </div>

    <div class="row" style="padding: 12px; margin-left: 0px;">
      <div class="container" style="background-color: #dbdbdb;border-radius: 60px;">
        <div class="row table-items" >
          <div class="col">
            <p>Φωτογραφία</p>
          </div>
          <div class="col">
            <p>Όνομα Προϊόντος</p>
          </div>
          <div class="col">
            <p>Κωδικός</p>
          </div>
          <div class="col">
            <p>Διαθεσιμότητα Θεσσαλονικης</p>
          </div>
          <div class="col">
            <p>Διαθεσιμότητα Αθήνας</p>
          </div>

          <div class="col">
            <p>Τιμή Χονδρικής</p>
          </div>
          <div class="col">
            <p>Αλλαγή Φωτογραφίας</p>
          </div>
          <div class="col">
            <p>Προσφορά</p>
          </div>
          <div class="col">
            <p>Εμφάνιση στην Αρχική</p>
          </div>
        </div>
      </div>
    </div>

    <div style="height: 300px;overflow:scroll">
      <div  class="row my-table" style="padding: 12px; margin-left: 0px;height: 100px;" *ngFor="let prod of products">
        <div class="container product">
          <div class="row table-items" style="font-size: 14px !important;">
            <div class="col">
              <img src="{{prod.image}}" alt="" width="100px" height="100px">
            </div>
            <div class="col" style="height: 30px; ">
              <p>{{prod.name}}</p>
            </div>
            <div class="col">
              <p>{{prod.code}}</p>
            </div>
            <div class="col">
              <p>{{prod.apothema_thess}}</p>
            </div>
            <div class="col">
              <p>{{prod.apothema_athens}}</p>
            </div>
            <div class="col">
              <p>{{prod.price}}</p>
            </div>

            <div class="col">

              <p style="text-decoration:line-through ;opacity: 0.3;">0&euro;</p>

            </div>
            <div class="col">

              <button  class="table-btn">
                Αλλαγή
              </button>
            </div>
            <div class="col">
              {{prod.offer}}
              <button

              class="table-btn"

            >
              Προσθήκη
            </button>

            <button
              class="table-btn2"

            >
              Αλλαγή
            </button>
            </div>
            <div class="col">
              <button>
                Εμφάνιση
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

