.heartAnim{
  animation: makeBigger 0.7s ease-in-out;
}

@keyframes makeBigger {
  0%{
    transform: scale(1);
  }
  50%{
    transform: scale(1.3);
  }
  100%{
    transform: scale(1);
  }
}


@media (min-width: 1201px){
  .image{
    width: 210px;
    height: 210px;
  }
}

@media (min-width: 1400px){
  .image{
    width: 240px;
    height: 240px;

  }
}



@media (max-width: 1200px){
  .image{
    width: 170px;
    height: 170px;
  }
}

@media (max-width: 992px){
  .image{
    width: 150px;
    height: 150px;
  }
}

@media (max-width: 768px){
  .image{
    width: 250px;
    height: 250px;
  }
}

@media (max-width: 546px){
  .image{
    width: 240px;
    height: 240px;
  }
}

@media (max-width: 527px){
  .image{
    width: 180px;
    height: 180px;
  }
}

@media (max-width: 402px){
  .image{
    width: 170px;
    height: 170px;
  }
}

@media (max-width: 385px){
  .image{
    width: 160px;
    height: 160px;
  }
}

@media (max-width: 340px){
  .image{
    width: 145px;
    height: 145px;
  }
}

/* @media (max-width: 768px) {
  .itemTitle {
    margin-bottom: 3px;
    font-size: 12px;
  }
} */


@media (max-width: 768px) {
  .itemTitle {
    margin-bottom: 3px;
    font-size: 18px;

  }
}

@media (max-width: 540px) {
  .itemTitle {
    margin-bottom: 3px;
    font-size: 14px;
  }
}


@media (max-width: 402px) {
  .itemTitle {
    margin-bottom: 3px;
    font-size: 12px;
  }
}

@media (max-width: 360px) {
  .itemTitle {
    margin-bottom: 3px;
    font-size: 12px;
  }
}

@media (max-width: 340px) {
  .itemTitle {
    margin-bottom: 3px;
    font-size: 10px;
  }
}



@media (min-width: 769px) {
  .itemTitle {
    margin-bottom: 4px;
    font-size: 12px;
    height: 50px;
  }
}

@media (min-width: 993px) {
  .itemTitle {
    margin-bottom: 8px;
    height: 30px;
  }
}

.itemDescription{
  margin-bottom: 0px;
}


@media (max-width: 768px) {
  .itemDescription {

    font-size: 14px;
  }
}

@media (max-width: 576px) {
  .itemDescription {

    font-size: 14px;
  }
}



@media (max-width: 527px) {
  .itemDescription {

    font-size: 10px;
  }
}

@media (max-width: 360px) {
  .itemDescription {

    font-size: 10px;
  }
}

@media (min-width: 769px) {
  .itemDescription {

    font-size: 10px;
  }
}

@media (min-width: 993px) {
  .itemDescription {

    font-size: 12px;
  }
}


.details{
  margin-bottom: 0px;
  margin-top: 0px;
  color: #878787;
}

@media (min-width: 1201px) {
  .details {

    font-size: 12px;
  }
}

@media (max-width: 1200px) {
  .details {
    display: none;
  }
}

@media (max-width: 768px) {
  .details {
    display: block;
    font-size: 12px;
  }
}

@media (max-width: 527px) {
  .details {
    display: none;
  }
}

@media (max-width: 992px){
  .itemHr2{
    display: none;
  }
}

@media (max-width: 768px){
  .itemHr2{
    display: initial;
  }
}

@media (max-width: 527px){
  .itemHr2{
    display: none;
  }
}


@media (max-width: 1200px) {
  .itemHr {
    display: none;
  }
}

@media (max-width: 768px) {
  .itemHr {
    display: initial;
  }
}

@media (max-width: 527px) {
  .itemHr {
    display: none;
  }
}








@media (min-width: 1201px) {
  .logged-in-btns{
    margin-top: 0px;
    font-size: 14px;
  }

  .heart{
    height: 32px;
  }

  .seeMoreBtn {
    margin-top: 11px;
    background-color: white;
    border-color: #6dae49;
    color: #6dae49;
    font-size: 14px;
  }
}

@media (min-width: 1400px) {
  .logged-in-btns{
    margin-top: 12px;
  }

  .heart{
    height: 32px;
  }

  .seeMoreBtn {
    margin-top: 32px;
    background-color: white;
    border-color: #6dae49;
    color: #6dae49;
  }
}

@media (max-width: 1200px) {
  .logged-in-btns{
    margin-top: 0px;
    font-size: 12px;
  }
  .myBtn{
    padding: 0px;
  }
  .heart{
    height: 26px;
  }
  .seeMoreBtn {
    margin-top: 12px;
    background-color: white;
    border-color: #6dae49;
    color: #6dae49;
    font-size: 12px;
  }
}

@media (max-width: 992px) {
  .logged-in-btns{
    margin-top: 0px;
    font-size: 10px;
  }
  .logged-in-btns p{
    margin-top: 0px;
    font-size: 12px;
  }
  .myBtn{
    padding: 0px;
  }
  .heart{
    height: 24px;
  }


  .seeMoreBtn {
    margin-top: 8px;
    background-color: white;
    border-color: #6dae49;
    color: #6dae49;
    font-size: 10px;
  }
}

@media (max-width: 768px) {

  .logged-in-btns{
    margin-top: 22px;
    font-size: 12px;
  }
  .logged-in-btns p{
    font-size: 14px;
  }
  .myBtn{
    padding: 0px;
  }
  .heart{
    height: 26px;
  }

  .seeMoreBtn {
    margin-top: 42px;
    background-color: white;
    border-color: #6dae49;
    color: #6dae49;
    font-size: 12px;
  }
}

@media (max-width: 546px) {
  .logged-in-btns{
    margin-top: 8px;
    font-size: 10px;
  }
  .myBtn{
    padding: 0px;
  }
  .heart{
    height: 26px;
  }

  .seeMoreBtn {
    margin-top: 8px;
    background-color: white;
    border-color: #6dae49;
    color: #6dae49;
    font-size: 10px;
  }
}

@media (max-width: 527px) {
  .logged-in-btns{
    margin-top: 10px;
    font-size: 10px;
  }
  .myBtn{
    padding: 0px;
  }
  .heart{
    height: 26px;
  }

  .seeMoreBtn {
    margin-top: 40px;
    background-color: white;
    border-color: #6dae49;
    color: #6dae49;
    font-size: 10px;
  }
}

@media (max-width: 450px) {

  .heart{
    height: 22px;
  }

  .seeMoreBtn {
    margin-top: 24px;
    background-color: white;
    border-color: #6dae49;
    color: #6dae49;
    font-size: 10px;
  }
}

@media (max-width: 402px) {
  .logged-in-btns{
    margin-top: 0px;
    font-size: 10px;
  }
  .myBtn{
    padding: 0px;
  }
  .heart{
    height: 26px;
  }
  .seeMoreBtn {
    margin-top: 16px;
    background-color: white;
    border-color: #6dae49;
    color: red;
    font-size: 10px;
  }
}

@media (max-width: 385px) {
  .logged-in-btns{
    margin-top: 4px;
    font-size: 10px;
  }
  .myBtn{
    padding: 0px;
  }
  .heart{
    height: 26px;
  }
  .seeMoreBtn {
    margin-top: 10px;
    background-color: white;
    border-color: #6dae49;
    color: #6dae49;
    font-size: 10px;
  }
}

@media (max-width: 332px) {
  .logged-in-btns{
    margin-top: 0px;

  }
  .logged-in-btns p{
    margin-top: 4px;
    font-size: 10px;
  }

  .seeMoreBtn {
    margin-top: 4px;
    background-color: white;
    border-color: #6dae49;
    color: #6dae49;
    font-size: 8px;
  }
}


.myBtn{
  border: none;
  background-color: purple;
  color: white;
  padding: 4px;
  box-shadow: 0px 0px 10px rgba(230, 15, 15, 0.6);
}
