.nav-item{
  background-color: blue;
  padding: 8px;
  border-radius: 32px;
  width: 48px;
  transition: all 0.5s ease-in-out;
  position: relative;
  display: block;
}

.my-nav-item{
  cursor: pointer;
  text-decoration: none;
  font-size: 18px;
  color: black;
  position: absolute;
  background-color: white;
  border-radius: 60px;
  width: 60px;
  height: 40px;
  transition: all 0.4s ease-in-out;
}

.my-nav-item:hover{
  width: 230px;
}

.my-nav-item2{
  cursor: pointer;
  text-decoration: none;
  font-size: 18px;
  color: black;
  position: absolute;
  background-color: white;
  border-radius: 60px;
  width: 60px;
  height: 40px;
  transition: all 0.4s ease-in-out;
}

.my-nav-item2:hover{
  width: 320px;
}

.container{
  max-width: 90vw !important;
}
