<div>
  <div class="container" style="margin: 0px;width: fit-content;padding: 24px;background-color: white;border-radius: 60px;box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.15);">
    <div class="row">
      <p>logo</p>
    </div>
    <div class="row" class="row" style="margin-bottom: 44px;">
      <div class="container">
        <a routerLink="/home" class="row my-nav-item" (mouseover)="handleOver(home)" (mouseleave)="handleLeave(home)" #home>
          <div class="col-4">
            <img src="../../../assets/bxs_home.svg" class="images" alt="">
          </div>
          <div class="col-8" style="display: none;opacity: 0;transition: all 0.2s ease-in-out;justify-content: center;align-items: center;">
            <p style="margin: 0px;">Αρχική</p>
          </div>
        </a>
      </div>
    </div>
    <div class="row" style="margin-bottom: 44px;">
      <div class="container">
        <a routerLink="/dashboard/products" class="row my-nav-item" (mouseover)="handleOver(products)" (mouseleave)="handleLeave(products)" #products>
          <div class="col-4">
            <img src="../../../assets/bxs_shopping-bag.svg" alt="">
          </div>
          <div class="col-8" style="display: none;opacity: 0;transition: all 0.2s ease-in-out;justify-content: center;align-items: center;">
            <p style="margin: 0px;">Προϊόντα</p>
          </div>
        </a>
      </div>
    </div>
    <div class="row" style="margin-bottom: 44px;">
      <div class="container">
        <a routerLink="/dashboard/update-categories" class="row my-nav-item" (mouseover)="handleOver(categories)" (mouseleave)="handleLeave(categories)" #categories>
          <div class="col-4">
            <img src="../../../assets/carbon_collapse-categories.svg" alt="">
          </div>
          <div class="col-8" style="display: none;opacity: 0;transition: all 0.2s ease-in-out;justify-content: center;align-items: center;">
            <p style="margin: 0px;">Κατηγορίες</p>
          </div>
        </a>
      </div>
    </div>
    <div class="row" style="margin-bottom: 44px;">
      <div class="container">
        <a routerLink="/dashboard/update-colors" class="row my-nav-item" (mouseover)="handleOver(ral)" (mouseleave)="handleLeave(ral)" #ral>
          <div class="col-4">
            <img src="../../../assets/clarity_color-palette-solid.svg" alt="">
          </div>
          <div class="col-8" style="display: none;opacity: 0;transition: all 0.2s ease-in-out;justify-content: center;align-items: center;">
            <p style="margin: 0px;font-size: 14px;">Χρώματα RAL</p>
          </div>
        </a>
      </div>
    </div>
    <div class="row" style="margin-bottom: 44px;">
      <div class="container">
        <a routerLink="/dashboard/pdf/upload" class="row my-nav-item" style="padding-left: 2px;"  (mouseover)="handleOver(pdf)" (mouseleave)="handleLeave(pdf)" #pdf>
          <div class="col-4">
            <img src="../../../assets/fa6-solid_file-pdf.svg" alt="">
          </div>
          <div class="col-8" style="display: none;opacity: 0;transition: all 0.2s ease-in-out;align-items: center;">
            <p style="margin: 0px;font-size: 14px;">Επεξεργασία PDF</p>
          </div>
        </a>
      </div>
    </div>
    <div class="row" style="margin-bottom: 44px;">
      <div class="container">
        <a routerLink="/dashboard/images/upload" class="row my-nav-item2" (mouseover)="handleOver(img)" (mouseleave)="handleLeave(img)" #img>
          <div class="col-4">
            <img src="../../../assets/bxs_image-add.svg" alt="">
          </div>
          <div class="col-8" style="display: none;opacity: 0;transition: all 0.2s ease-in-out;align-items: center;">
            <p style="margin: 0px;font-size: 14px;">Επεξεργασία Φωτογραφιών</p>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>


