<div class="container content">
  <div class="row" style="justify-content: center;align-items: center;">
    <h1 style="width: fit-content;">Επεξεργασία Εικόνας</h1>
  </div>
  <div class="row" style="justify-content: center;align-items: center;">
    <hr style="opacity: 1;border: 2px solid #6dae49;width: 50%;">
  </div>

  <div class="container" style="margin-top: 40px">
      <div class="row">
          <a routerLink="/dashboard/images/upload" route routerLinkActive="trapezoid" class="trapezoid2">
              <div class="container" style="height: 50px;padding: 0px;">
                  <div class="row" style="justify-content: center;align-items: center;height: 100%;">
                      <p style="width: fit-content;margin: 0px;">Μεταφόρτωση Εικόνας</p>
                  </div>
              </div>
          </a>
          <a routerLink="/dashboard/images/insert"  routerLinkActive="trapezoid" class="trapezoid2 secondLink">
              <div class="container" style="height: 50px;padding: 0px;">
                  <div class="row" style="justify-content: center;align-items: center;height: 100%;">
                      <p style="width: fit-content;margin: 0px;">Καταχώριση Εικόνας</p>
                  </div>
              </div>
          </a>
      </div>

      <div class="row myRow">
          <div>
              <router-outlet></router-outlet>
          </div>
      </div>
  </div>

</div>
